body {
    font-family: Arial;
    padding: 20px;
  }
  
  #movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .card {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
  }
  